@import "uikit";

[v-cloak] {
  display: none;
}

label[for] {
  cursor: pointer;
}

.uk-form-icon.text {
  width: 70px;

  &:not(.uk-form-icon-flip) ~ .uk-input {
    padding-left: 65px !important;
  }
}

/* Prevent doubled icons because of UIkit-Vue */
.uk-icon {
  > svg {
    &:nth-child(2) {
      display: none;
    }
  }
}

.uk-text-small {
  code {
    font-size: 0.75rem;
  }
}